body {
	margin: 0;
}

/* header start */

#header {
	background-color: #2d78bf;
}

	#logo {
		padding: 30px 0 0 10px;
	}
	
	ul#nav {
		list-style: none;
		padding: 0;
		height: 28px;
		border-bottom: 3px solid #ccc;
		background: url('../images/global_nav_bg.gif') left top repeat-x;
		margin: 0;
	}
		
		ul#nav li {
			width: 85px;
			text-align: center;
			line-height: 28px;
			float: left;
			border-right: 1px solid #ccc;
		}
		
		ul#nav a {
			display: block;
			text-decoration: none;
			font-size: 0.78rem;
			color: #555;
			background: url('../images/global_nav_a_bg.gif')left top repeat-x;
		}
		
		ul#nav a:hover {
			color: #fff;
			background: url('../images/global_nav_a_bg.gif')left -100px repeat-x;
		}
		
/* container start */

#container {
	position: relative;	
	background: url('../images/leftside_bg.gif') left top repeat-y;
	/* height: 700px; */
}

	#menu {
		width: 180px;
		position: absolute;
		top: 20px;
		left: 0;
	}
	
	#main {
		/* width: 550px;
		position: absolute;
		top: 0;
		left: 226px; */
		
		margin-left: 226px;
		margin-right: 210px;
		padding: 20px 0;
	}
	
	#ad {
		width: 180px;
		position: absolute;
		top: 0;
		/* left: 780px; */
		
		right: 10px;
	}
	
	/* menu start */
	
	#menu h2 {
		font-size: 0.78rem;
		font-weight: normal;
		color: #fff;
		padding: 4px 16px;
		background-color: #2d78bf;
		margin: 0;
	}
	
	#menu ul, #main ul {
		list-style: none;
		padding-left: 16px;
		margin-top: 5px;
	}
	
		#menu li, #main li {
			border-bottom: 1px solid #ccc;
			line-height: 1.3rem;
		}
		
		#menu a, #main a {
			font-size: 0.78rem;
			background: url('../images/arrow.gif') left center no-repeat;
			padding-left: 15px;
		}
		
	/* main start */
	
	h1 {
		font-size: 1.1rem;
		border-bottom: 1px solid #ccc;
		padding-bottom: 4px;
		letter-spacing: 0.05rem;
	}
	
	#main p {
		font-size: 0.78rem;
		color: #555;
		letter-spacing: 0.05rem;
		line-height: 1.5rem
	}
	
	#main p.date {
		text-align: right;
		font-size: 0.78rem;
	}
	
	#main h2 {
		background-color: #ececec;
		font-size: 0.78rem;
		font-weight: normal;
		color: #555;
		border-left: 6px solid #2d78bf;
		border-bottom: 1px solid #ccc;
		padding-right: 4px 10px;
	}
	
	
	
/* fotter start */

#footer {
	font-size: 0.78rem;
	text-align: center;
	color: #555;
	border-top: 3px solid #ccc;
	background-color: ededed;
	padding: 20px 0;
}	
	